
<!DOCTYPE html>
<html lang="en">
    
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTESTATION AMBASSADEUR</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" />
 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
</head>
<body class="w-full min-h-screen overflow-auto font-montsserat">
     <div class="w-full h-screen overflow-hidden bg-slate-900" >
        
        <main  class="flex flex-wrap items-center w-full h-full main justify-evenly " >
            <div class="mb-4 text-2xl leading-10 text-white ">
                <p class="mb-4 text-2xl">Bonjour 😊</p>
                <h1 class="pb-2 sm:text-xl ">Télécharge ton attestation ici !</h1>
                <button class="p-3 bg-white rounded-lg start text-slate-900">Demarrer ?</button>
                

            </div>
            <div class=" max-w-[500px] max-h-[500px] shadow-lg">
                <img src="{% static 'assets/attestation.png' %}" alt="" class="object-cover w-full h-full px-3">
            </div>
        </main>
    </div>  

    
<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>  
